<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="expires" content="-1" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<link rel="shortcut icon" href="/favicon.ico"/>
<link
	href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"></link>
	<link href="./css2.0/line-icon.css" rel="stylesheet" />
<link href="./css2.0/app.2198e3e90bfa1dd6114d69c72465c7a6.css"
	rel="stylesheet"></link>
	<link rel="stylesheet" href="css2.0/initialize.css"/>
<link rel="stylesheet" href="css2.0/Ken.css"/>	
<link rel="stylesheet" href="css2.0/pagination.css"/>	
<title>Credit Tag Chain Browser</title>
<script type="text/javascript" src="./js2.0/jquery.min.js"></script>
<script type="text/javascript" src="./js2.0/bootstrap.min.js"></script>
<script type="text/javascript" src="./js2.0/bootstrap-table.min.js"></script>
<script type="text/javascript" src="./js2.0/transactionList.js"></script>
<script type="text/javascript" src="./js2.0/base.js"></script>
<script type="text/javascript" src="./js2.0/jquery.pagination.js"></script>

<style type="text/css">

	tbody > tr >td:nth-child(1) {
	   min-width: 360px;
	}
	tbody > tr >td:nth-child(2) {
	   min-width: 230px;
	}
	tbody > tr >td:nth-child(3) {
	   min-width: 640px;
	}
	
	div.pull-right{
		margin-right: 20%;
	}
	
</style>

</head>
<body class="pace-done"
	style="background-image: url(./img2.0/list_background.png); background-size: cover">
	<div class="pace  pace-inactive">
		<div class="pace-progress" data-progress-text="100%"
			data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
			<div class="pace-progress-inner"></div>
		</div>
		<div class="pace-activity"></div>
	</div>
	<div class="wrapper">
		<div>
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-responsive-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="fa fa-bars"></span>
			</button>
		</div>
		<div class="header clearFix">

			<div class="leftlogo clearFix">
				<div data-v-ebecfbba="" class="col-md-4">
					<a href="https://www.credittag.io" style=""><img
						style="padding: 10px 2px 5px 2px; width: 200px; margin-top: 20px;"
						src="./img2.0/icon_logo.png" /></a>
				</div>
				<!--img-->
			</div>
			<div class="rightinput clearFix">
				<div
					class="collapse navbar-collapse mega-menu navbar-responsive-collapse navken">
					<!--<div class="container ken-nav clearFix">-->
					<ul class="nav navbar-nav nav1">
						<li class=""><a href="javascript:void(0)">Home </a></li>
						<li class=""><a href="javascript:void(0)">Credit Tag
								Network </a></li>
						<li class=""><a href="javascript:void(0)">Product </a></li>
						<li class="active"><a href="javascript:void(0)">Browser </a></li>
						<li class=""><a href="javascript:void(0)">Cooperative </a></li>
						<li class=""><a href="javascript:void(0)">Contact </a></li>
					</ul>
				</div>

				<div style="float: right; padding: 5px 0;"
					class="inputsearch clearFix">
					<input id="txtSearchInput" type="text"
						class="form-control-custom ui-autocomplete-input"
						placeholder="Block ID/Height、Transaction ID、Address"
						maxlength="100"/>
					<button class="btn-u" type="submit" id="searchInput">GO</button>
				</div>
			</div>
		</div>
	</div>
	<div data-v-748765d0="" class="main-container" style="margin-top: 10px;">
		
		<div data-v-33c84e3a="" data-v-748765d0="" class="container">
			
			<div class="accountAddress"><label>Account Address：</label><span id="addressLabelId"></span></div>
			<div class="balancecls hid" id="bdispalyid"><label>Balance：</label><span id="balanceLabelId"></span></div>
		
			<div data-v-33c84e3a="" class="">
				<div data-v-33c84e3a="" class="">
					<span data-v-33c84e3a="" class="" style="">	<i class="fa fa-list-alt "></i>&nbsp;Transaction</span>
					<!-- <table id="tb_deal" style="margin-top: 5px;" class="bttcss"></table> -->
							<div>
						    	  <div class="viewListHeader"> <label class="width40">Transaction</label> <label class="width15">Transaction Type</label> <label class="width30">Time</label> <label class="width23">Amount</label></div>
						    </div>
						    <div id="transactinListId">
						    </div>
		
							<div data-v-33c84e3a="" data-v-748765d0="" class="container" style="margin: 10px auto">
								<div class="M-box1" id="transactinListPageId"></div>
							</div>
				</div>
			</div>
		</div>
		<div style="display: none" th:text="${address}" id="address"></div>
		<div style="display: none" th:text="${balanceId}" id="balanceId"></div>
		<div style="display: none" th:text="${balanceDisplay}" id="dispalyBalanceId"></div>
		<!-- 地步foot -->
		<section data-v-68d71e31="" data-v-748765d0="" class="footer">
			<div data-v-68d71e31="" class="footer-outer">
				<div data-v-68d71e31="" class="footer-inner">
					<div data-v-68d71e31="" class="text-center">
						@2017-2018 Powered by Credit Tag Chain &nbsp;<a data-v-68d71e31=""
							target="_blank" href=""></a>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>